.cardBebidas {
  border-style: solid;
  padding: 1px;
  display: flex;

}

.cardBebidas1{
  gap: 5px;
  font-size: 16px;
  justify-content: space-around;
    padding: 10px 0px;
}

.cardBebidas img {
  width: 100px;
  height: 100px;
}