.containerCarros {
    display: flex;
  gap: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial;
    flex-direction: row;
  
  }
  .buttonCarros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
.buttonCarrosStyle{
    border: none;
    padding: 7px;
    background-color: #0056b3;
    color: white;
}
  
  .cardH3{
    color: rgb(255, 255, 255);
    flex-direction:column;
    text-align: left;
  
    background-color: 	#0f4f77;
  }
  .cardInfo {
    text-align: center;
  
  }
  .cardCarros1{
    width: 150px;
    height: 150px;
  
    border-radius: 30px 30px 0px 0px;
  }
  
  .imgCarros{
    width: 200px;
    height: 200px;
  }
  
  .buttonDenunciar {
    border-style: solid 1px;
    background-color: #324eeb;
    font-size: 16px;  
  font-weight: bolder;
  width: 100%;
  color: white;
  cursor: pointer;
  }
  h3{
    margin: 0px;
    text-align: center;
  }
  button{
    color: aquamarine;
  }
  .acessorios{
    text-align: center;
  }